---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>

  <link rel="icon" href="../images/upcite_logo.png" type="image/png">

	  <script src="https://www.google.com/analytics/js/ga.js"></script>

  <!-- Baidu Analytics -->

	  <meta name="referrer" content="strict-origin-when-cross-origin">
	  
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6ad55f11086d3532e72d244175943201";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

	  
  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=300840089"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-VVHW2RQ1YW');
</script>


    <script>

      // 引入 Google API 客户端库
gapi.analytics.ready(function() {
  // 创建 Google Analytics 客户端对象
  var client = gapi.analytics.client.init({
    clientId: '139521967332-531u4q0cod4nl4s8p7ptd48f2fgse13k.apps.googleusercontent.com', // 您的 Google Analytics API 客户端 ID
  });

  // 获取页面浏览次数
  client.query({
    ids: 'ga:YOUR-VIEW-ID', // 您的 Google Analytics 视图 ID
    metrics: 'ga:pageviews'
  }).then(function(response) {
    var pageviews = response.totalResults ? response.rows[0][0] : '0';
    // 在网页上显示浏览次数
    document.getElementById('pageviews').textContent = '浏览次数：' + pageviews;
  });
});
      
    </script>



	  
    
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}


    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}

        
<div id="totalPageViews">总浏览次数：加载中...</div>
       
      
        <script>
  // 获取 Google Analytics 数据
  function getVisitCount() {
    gtag('event', 'page_view', {
      'send_to': 'G-VVHW2RQ1YW',
      'event_callback': function() {
        // 获取页面访问次数
        var visitCount = ga.getAll()[0].get('pageviews');
        
        // 将访问次数显示在页面上
        document.getElementById('visit-count').textContent = '访问次数：' + visitCount;
      }
    });
  }
  
  // 调用获取访问次数函数
  getVisitCount();
</script>


	      <script>
  // 使用 Google Analytics 4 API 查询事件数据
  gtag('event', 'page_view', {
    'send_to': 'G-VVHW2RQ1YW',
    'event_category': 'Page Views',
    'event_label': 'Total Page Views'
  });

  // 显示数据在网页上
  gtag('config', 'G-VVHW2RQ1YW', {
    'page_title': 'Total Page Views',
    'page_location': window.location.href
  });
</script>

<script>

	// 使用 gtag.js 的示例代码
// 替换 'GA_MEASUREMENT_ID' 为您的 GA4 测量 ID
gtag('event', 'page_view', {
  'send_to': 'G-VVHW2RQ1YW',
  'event_callback': function() {
    // 获取总浏览次数
    const totalPageviews = gtag('get', 'page_view');
    
    // 在控制台中打印总浏览次数
    console.log('总浏览次数：', totalPageviews);
  }
});
	
</script>

        
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
