---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>

  <link rel="icon" href="../images/upcite_logo.png" type="image/png">

    
  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=YOUR-GA-TRACKING-ID"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-VVHW2RQ1YW');
</script>


    
    
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    222
    333

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        444
        555
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
